:root { 
    --bs-primary: #2c3e50; 
    --bs-success: #27ae60; 
}

body { 
    background-color: #f4f7f6; 
    font-family: 'Segoe UI', Roboto, sans-serif; 
} 

.offcanvas { 
    width: 300px !important; 
}

.nav-link { 
    color: #333; 
    font-weight: 500; 
    padding: 15px 20px; 
    border-bottom: 1px solid #f0f0f0; 
    transition: 0.3s; 

} 

.nav-link:hover { 
    background-color: #f8f9fa; 
} 

.card { 
    border: none; 
    border-radius: 15px; 
}

.table-responsive { 
    max-height: 55vh;
     overflow-y: auto;     
} 

.sticky-top { 
    top: -1px; 
    z-index: 1020; 
} 

#input-codigo { 
    border: 2px solid #ddd; 
    border-radius: 12px; 
    padding: 1rem; 
    font-size: 1.2rem; 
    transition: all 0.3s; 
} 

#input-codigo:focus { 
    border-color: var(--bs-primary); 
    box-shadow: 0 0 10px rgba(44, 62, 80, 0.1); 
}

.card-total-azul { 
    background: #0d6efd; 
    color: white; 
    border: none; 
    border-radius: 15px; 
}

#total-venta { 
    font-size: 4rem; 
    line-height: 1; 
    letter-spacing: -2px; 
}

.btn:hover,
.btn:focus,
.btn:active {
    filter: none !important;
    box-shadow: none !important;
    transform: none !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
    color: #fff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #fff !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff !important;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active {
    background-color: transparent !important;
    border-color: #212529 !important;
    color: #212529 !important;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background-color: #f8f9fa !important;
    border-color: #dee2e6 !important;
    color: #6c757d !important; 
}